<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
    <title>Cart</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #243642;">
            <div class="container">
                <!-- Logo và tên thương hiệu -->
                <a class="navbar-brand d-flex align-items-center" href="index.html"> <i
                        class="fa-brands fa-strava fa-2x me-2 text-light"></i> <span class="fw-bold text-light">Conan
                        Store</span>
                </a>
                <!-- Nút bật/tắt cho thiết bị di động -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu điều hướng -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Menu chính -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-light" href="index.html">Trang chủ</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-light" href="about.html">Về chúng tôi</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="product.html">Sản phẩm</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="contact.html">Liên hệ</a></li>
                    </ul>

                    <!-- search -->
                    <div class="searchbar">
                        <div class="searchbar-wrapper">
                            <div class="searchbar-left">
                                <div class="search-icon-wrapper">
                                    <span class="search-icon searchbar-icon"> <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                            <div class="searchbar-center">
                                <div class="searchbar-input-spacer"></div>

                                <input type="text" class="searchbar-input" maxlength="2048" name="q"
                                    autocapitalize="off" autocomplete="off" title="Search" role="combobox"
                                    placeholder="Search Google">
                            </div>

                            <div class="searchbar-right">
                                <svg class="voice-search" role="button" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path fill="#4285f4"
                                        d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z">
                                    </path>
                                    <path fill="#34a853" d="m11 18.08h2v3.92h-2z"></path>
                                    <path fill="#fbbc05"
                                        d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z">
                                    </path>
                                    <path fill="#ea4335"
                                        d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <!-- Giỏ hàng và tài khoản người dùng -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-light" href="cart.html"> <i
                                    class="fa-solid fa-cart-shopping me-2"></i>
                            </a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="profile.html"> <i
                                    class="fa-solid fa-user me-2"></i>
                            </a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="login.html"> <i
                                    class="fa-solid fa-right-from-bracket me-2"></i></a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mb-5">
        <h4 class="fw-bold" style="color: #76ABAE;">Giỏ hàng</h4>
        <p class="text-muted">Sản phẩm bạn đã chọn</p>
        <div class="d-flex">
            <a href="" class="btn btn-dark me-3">Mua tất cả sản phẩm</a>
            <h6 class="ms-3 mt-3">Tổng tiền <span>2.850.000₫</span></h6>
        </div>

        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Kích cỡ</th>
                    <th>Màu sắc</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nike AF1 Low 'Triple White</td>
                    <td><img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/413/335/products/duyetfashion-nike-air-force-1-07-white-315122-111-315115-112-duyet-fashion-1-jpeg.jpg?v=1634568391747"
                            style="width: 100px; height: 100px" /></td>
                    <td>38</td>
                    <td>Trắng</td>

                    <td>
                        <input type="number" min="1" max="10" step="1" value="1"
                            style="width: 50px; text-align: center;">
                    </td>
                    <td>2.850.000₫</td>
                    <td>
                        <button type="button" class="btn btn-dark">Hủy</button>
                        <a href="" class="btn btn-dark me-2">Mua ngay</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>